@page "/login"
@using ModeladoTTHH.Facades;
@using ModeladoTTHH.Models
@using ModeladoTTHH.Services
@layout NoLayout
@inject LoginFacade LoginFacade

@if (_listaEmisores is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="container-fluid">
        <div class="row vh-100">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-start">Login</h1>
                <EditForm Model="@_usuario" OnValidSubmit="TryLoginUser">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <h2>Bienvenido de vuelta</h2>
                    <hr />
                    <div class="form-floating mb-3">
                        <input @bind="_usuario.Usuario" class="form-control" placeholder="1234" />
                        <label class="form-label">Usuario</label>
                        <span class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label>Empresas</label>
                        <select id="empresas" class="form-control" autocomplete="Empresa" placeholder="Empresa">
                            @foreach (var emisor in _listaEmisores)
                            {
                                <option value="@emisor.Codigo">@emisor.Codigo: @emisor.NombreEmisor</option>
                            }
                        </select>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" @bind="_usuario.Password"
                               @oninput="e => _usuario.Password = e.Value.ToString()" class="form-control"
                               placeholder="password" />
                        <label class="form-label">Password</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="mt-2">
                        <NavLink href="forgotPassword">
                            Olvidaste tu contraseña?
                        </NavLink>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                        <NavLink class="btn btn-primary" href="signUp">
                            Sign Up
                        </NavLink>
                    </div>
                    <div class="mt-2">
                        <NavLink href="signUp">
                            Registrate como nuevo usuario
                        </NavLink>
                    </div>
                </EditForm>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <img src="/login.svg" alt="LoginImage" class="img-fluid w-50">
            </div>
        </div>
    </div>
}

@code {

    private UsuarioDto _usuario = new UsuarioDto();

    private IEnumerable<Emisor> _listaEmisores;

    protected override async Task OnInitializedAsync()
    {
        _listaEmisores = await LoginFacade.ObtenerEmisores();
    }

    protected void TryLoginUser()
    {
        LoginFacade.NavigateToHome();
    }

}
